@import "reset.css";

#wrap {max-width:1024px; min-width:320px; margin:0 auto;}

#header {position:absolute; top:0; left:0; width:100%;}
#header .page-tit {font-size:26px; color:#fff; font-weight:normal; line-height:60px; text-align:center; background-color:rgb(41, 128, 185);}

#container {padding:60px 0 100px;}
#container .sec:not(.sec-win) {margin-top:80px; padding:0 20px;}
#container [class *= "-tit"] {margin-bottom:20px; font-size:20px;}

#container .table-wrap {}
#container .table-wrap table {width:100%;}
#container .table-wrap th {padding:10px; background-color:rgba(224, 224, 224, 0.4); border:1px solid #ccc;}
#container .table-wrap td {padding:10px; font-size:14px; text-align:center; border:1px solid #ccc;}

#container .btn-wrap {margin-top:30px; font-size:0; text-align:center;}
#container .btn-wrap .btn-type {display:inline-block; width:160px; height:45px; margin:0 10px; font-size:16px; line-height:45px; font-weight:700; border:0; border-radius:5px;}
#container .btn-wrap .btn-reset {background-color:rgba(224, 224, 224, 0.4);}
#container .btn-wrap .btn-confirm {color:#fff; background-color:rgb(41, 128, 185);}

#container .sec-win {padding:45px 0; text-align:center; background-color:rgba(224, 224, 224, 0.4);}
#container .sec-win .win-tit {font-size:26px;}
#container .sec-win .win-tit span {font-size:12px; color:#aaa; font-weight:normal;}
#container .sec-win .win-num {margin-top:20px; font-size:0;}
#container .sec-win .win-num-item {display:inline-block; width:30px; height:30px; margin:0 5px; font-size:14px; font-weight:700; line-height:30px; border-radius:50%; background-color:#fff;}

#container .sec-my .input-form {font-size:0;}
#container .sec-my .input-form input {display:inline-block; width:32px; height:32px; margin:0 5px; line-height:32px; text-align:center; border:1px solid #ccc; border-radius:5px;}
#container .sec-my .input-form input.on {background-color:rgba(224, 224, 224, 0.4);}
#container .sec-my .match-num span {margin:0 2px;}
#container .sec-my .match-num .equal {position:relative; color:rgb(231, 76, 60); font-weight:700;}
#container .sec-my .match-num .equal:after {content:''; position:absolute; top:-2px; left:50%; width:3px; height:3px; margin-left:-1.5px; border-radius:50%; background-color:rgb(231, 76, 60);}

#container .sec-store .store-wrap:after {content:''; display:block; clear:both;}
#container .sec-store .store-map {float:left; width:50%; height:492px; background-color:#ddd;}
#container .sec-store .store-list {float:left; width:50%; height:492px; overflow-y:auto;}
#container .sec-store .table-store .store-tit {font-size:14px; cursor:pointer;}
