<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>Mini Lotto</title>
        <link href="../static/style.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=rzd6uykue3"></script>
        <script>
            function empty() {
                $('.win-tit').empty();
                $('.win-num').empty();
                $('.match-num').empty();
                $('.win-result').empty();
                $('.table-result tbody').empty();
                $('.table-store tbody').empty();
            }

            function showNum() {
                $.ajax({
                    type: 'GET',
                    url: '/win-num',
                    data: {},
                    success: function (response) {
                        if (response["result"] == "success") {
                            let win_num = response['win_num'][0];

                            let tempHtml = `${win_num['drwNo']}회 <span>(${win_num['drwNoDate']})</span>`;
                            $('.win-tit').append(tempHtml);

                            let numHtml = `<span class="win-num-item">${win_num['drwtNo1']}</span>
                                           <span class="win-num-item">${win_num['drwtNo2']}</span>
                                           <span class="win-num-item">${win_num['drwtNo3']}</span>
                                           <span class="win-num-item">${win_num['drwtNo4']}</span>
                                           <span class="win-num-item">${win_num['drwtNo5']}</span>
                                           <span class="win-num-item">${win_num['drwtNo6']}</span>
                                           <span class="win-num-item plus">+</span>
                                           <span class="win-num-item">${win_num['bnusNo']}</span>`

                            $('.win-num').append(numHtml);
                        }
                    }
                });
            }

            function testForRequest() {
                let firstRow01 = $("#first-row-1").val();
                let firstRow02 = $("#first-row-2").val();
                let firstRow03 = $("#first-row-3").val();
                let firstRow04 = $("#first-row-4").val();
                let firstRow05 = $("#first-row-5").val();
                let firstRow06 = $("#first-row-6").val();
                let url = '/my-num?firstRow01=' + firstRow01
                    + '&firstRow02=' + firstRow02
                    + '&firstRow03=' + firstRow03
                    + '&firstRow04=' + firstRow04
                    + '&firstRow05=' + firstRow05
                    + '&firstRow06=' + firstRow06;
                $.ajax({
                    type: 'GET',
                    url: url,
                    data: {},
                    success: function (response) {
                        let num = response['my_num'];
                        console.log(num)

                        let my_num = [
                            firstRow01,
                            firstRow02,
                            firstRow03,
                            firstRow04,
                            firstRow05,
                            firstRow06
                        ];

                        let testHtml = ``;
                        for(let i = 0; i < num.length; i++) {
                            if(num[i] == -1) {
                                testHtml += `<span>${my_num[i]}</span>`
                            }else {
                                testHtml += `<span class="equal">${my_num[i]}</span>`
                            }
                        }
                        $('.match-num').append(testHtml);

                        if (num.indexOf(-1) > -1) {
                            $('.win-result').text('낙첨');
                        } else {
                            $('.win-result').text('당첨');
                        }
                    }
                });
            }

            function showResult() {
                $.ajax({
                    type: 'GET',
                    url: '/win-result',
                    data: {},
                    success: function (response) {
                        if (response["result"] == "success") {
                            let win_result = response['win_result'];

                            for(let i = 0; i < win_result.length; i++) {
                                let win = win_result[i];

                                let winHtml = `<tr>
                                                   <td>${win['rank']}</td>
                                                   <td>${win['game']}</td>
                                                   <td>${win['amount']}</td>
                                                   <td>${win['amount_one']}</td>
                                               </tr>`

                                $('.table-result tbody').append(winHtml);
                            }
                        }
                    }
                });
            }

            function showStore() {
                $.ajax({
                    type: 'GET',
                    url: '/store',
                    data: {},
                    success: function (response) {
                        if (response["result"] == "success") {
                            let stores = response['store'];

                            for(let i = 0; i < stores.length; i++) {
                                let store = stores[i];

                                let winHtml = `<tr>
                                                   <td>${store['num']}</td>
                                                   <td>${store['name']}</td>
                                                   <td>${store['count']}</td>
                                               </tr>`

                                $('.table-store tbody').append(winHtml);
                            }
                        }
                    }
                });
            }

            function storeMap() {
                let mapOptions = {
                    center: new naver.maps.LatLng(37.3595704, 127.105399),
                    zoom: 10
                };

                let map = new naver.maps.Map('map', mapOptions);
            }

            $(document).ready(function() {
                empty();
                showNum();
                showResult();
                showStore();
                storeMap();
            });
        </script>
    </head>
    <body>
        <div id="wrap">
            <h1 class="blind">로또 당첨 조회 및 내역 확인 페이지</h1>

            <header id="header">
                <h2 class="page-tit eng">Mini Lotto</h2>
            </header>

            <div id="container">
                <section class="sec sec-win">
                    <strong class="win-tit">
                        923회 <span>(2020년 08월 08일 추첨)</span>
                    </strong>
                    <div class="win-num">
                        <span class="win-num-item">1</span>
                        <span class="win-num-item">2</span>
                        <span class="win-num-item">3</span>
                        <span class="win-num-item">4</span>
                        <span class="win-num-item">5</span>
                        <span class="win-num-item">6</span>
                        <span class="win-num-item plus">+</span>
                        <span class="win-num-item num-bnus">7</span>
                    </div>
                </section>

                <section class="sec sec-my">
                    <h3 class="my-tit">내 당첨확인</h3>
                    <div class="table-wrap">
                        <table>
                            <colgroup>
                                <col width="33.3%">
                                <col width="33.3%">
                                <col width="33.3%">
                            </colgroup>
                            <thead>
                                <tr>
                                    <th scope="col">번호</th>
                                    <th scope="col">일치</th>
                                    <th scope="col">결과</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <div class="input-form">
                                            <input type="text" maxlength="2" id="first-row-1">
                                            <input type="text" maxlength="2" id="first-row-2">
                                            <input type="text" maxlength="2" id="first-row-3">
                                            <input type="text" maxlength="2" id="first-row-4">
                                            <input type="text" maxlength="2" id="first-row-5">
                                            <input type="text" maxlength="2" id="first-row-6">
                                        </div>
                                    </td>
                                    <td>
                                        <div class="match-num">
                                            <span>1</span>
                                            <span>2</span>
                                            <span class="equal">3</span>
                                            <span>4</span>
                                            <span>5</span>
                                            <span class="equal">6</span>
                                        </div>
                                    </td>
                                    <td class="win-result">낙첨</td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="input-form">
                                            <input type="text" maxlength="2">
                                            <input type="text" maxlength="2">
                                            <input type="text" maxlength="2">
                                            <input type="text" maxlength="2">
                                            <input type="text" maxlength="2">
                                            <input type="text" maxlength="2">
                                        </div>
                                    </td>
                                    <td>
                                        <div class="match-num">
                                            <span>1</span>
                                            <span>2</span>
                                            <span class="equal">3</span>
                                            <span>4</span>
                                            <span>5</span>
                                            <span class="equal">6</span>
                                        </div>
                                    </td>
                                    <td class="win-result">낙첨</td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="input-form">
                                            <input type="text" maxlength="2">
                                            <input type="text" maxlength="2">
                                            <input type="text" maxlength="2">
                                            <input type="text" maxlength="2">
                                            <input type="text" maxlength="2">
                                            <input type="text" maxlength="2">
                                        </div>
                                    </td>
                                    <td>
                                        <div class="match-num">
                                            <span>1</span>
                                            <span>2</span>
                                            <span class="equal">3</span>
                                            <span>4</span>
                                            <span>5</span>
                                            <span class="equal">6</span>
                                        </div>
                                    </td>
                                    <td class="win-result">낙첨</td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="input-form">
                                            <input type="text" maxlength="2">
                                            <input type="text" maxlength="2">
                                            <input type="text" maxlength="2">
                                            <input type="text" maxlength="2">
                                            <input type="text" maxlength="2">
                                            <input type="text" maxlength="2">
                                        </div>
                                    </td>
                                    <td>
                                        <div class="match-num">
                                            <span class="equal">1</span>
                                            <span class="equal">2</span>
                                            <span class="equal">3</span>
                                            <span class="equal">4</span>
                                            <span class="equal">5</span>
                                            <span class="equal">6</span>
                                        </div>
                                    </td>
                                    <td class="win-result">당첨</td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="input-form">
                                            <input type="text" maxlength="2">
                                            <input type="text" maxlength="2">
                                            <input type="text" maxlength="2">
                                            <input type="text" maxlength="2">
                                            <input type="text" maxlength="2">
                                            <input type="text" maxlength="2">
                                        </div>
                                    </td>
                                    <td>
                                        <div class="match-num">
                                            <span>1</span>
                                            <span>2</span>
                                            <span class="equal">3</span>
                                            <span>4</span>
                                            <span>5</span>
                                            <span class="equal">6</span>
                                        </div>
                                    </td>
                                    <td class="win-result">낙첨</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="btn-wrap">
                        <button type="button" class="btn-type btn-reset" onclick="empty()">초기화</button>
                        <button type="button" class="btn-type btn-confirm" onclick="testForRequest()">확인</button>
                    </div>
                </section>

                <section class="sec sec-result">
                    <h3 class="result-tit">회차별 당첨결과</h3>
                    <div class="table-wrap table-result">
                        <table>
                            <colgroup>
                                <col width="25%">
                                <col width="25%">
                                <col width="25%">
                                <col width="25%">
                            </colgroup>
                            <thead>
                                <tr>
                                    <th scope="col">순위</th>
                                    <th scope="col">당첨수</th>
                                    <th scope="col">총 당첨금액</th>
                                    <th scope="col">1게임당 당첨금</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1등</td>
                                    <td>8</td>
                                    <td>21,340,437,000원</td>
                                    <td>2,667,554,625원</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </section>

                <section class="sec sec-store">
                    <h3 class="store-tit">최다 당첨판매점</h3>
                    <div class="store-wrap">
                        <div id="map" class="store-map">
                            MAP
                        </div>
                        <div class="store-list">
                            <div class="table-wrap table-store">
                                <table>
                                    <colgroup>
                                        <col width="22%">
                                        <col width="50%">
                                        <col width="28%">
                                    </colgroup>
                                    <thead>
                                        <tr>
                                            <th scope="col">번호</th>
                                            <th scope="col">상호명</th>
                                            <th scope="col">당첨횟수</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>1</td>
                                            <td>씨유역삼에클라트로또판매점</td>
                                            <td>35</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </body>
</html>